<header>
  <h1>
    {{screamIt message}}
    <a href="/">Home</a> 	&nbsp;	&nbsp;	&nbsp;
    <a href="/about">About</a> 	&nbsp;	&nbsp;	&nbsp;
    <a href="/projectlink">ProjectLink</a>
  </h1>
</header>
