<!-- We are creating a template for express to render -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
</head>
  <body>
    {{> header}}
    <p>
      How may i help you?
    </p>

    {{> footer}}
  </body>
</html>
